.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}
h2 {
  font-family: monospace;
  font-weight: lighter;
  text-align: center;
}
.flashy {
  color: red;
  font-style: italic;
}
.best {
  font-weight: bolder;
  font-style: oblique;
  color: teal
}
